:root {
  --Prime_col: #13120a;
  --Sec_col: #1b1813;
}

@font-face {
  font-family: "CursorGothic";
  src: url("/fonts/cursorgothic.woff2") format("woff2"),
    url("/fonts/cursorgothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body{
  background-color: var(--Prime_col);
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 150;
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 10px 0 10px; */
  width: 1250px;
  height: 52px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--Prime_col);
}

.menu {
  display: flex;
  gap: 30px;
}
.menu p{
  display: flex;
  gap: 30px;
  background-color: var(--Prime_col);
  font-size: 14px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.sign-in {
  width: 70px;
  height: 25px;
  border-radius: 12px;
  border: 0.5px solid #fff;
  background-color: var(--Prime_col);
  color: #fff;
  cursor: pointer;
}

.download {
  width: 80px;
  height: 25px;
  border-radius: 12px;
  border: 0.5px solid #fff;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.downloadBig {
  margin-top: 20px;
  margin-bottom: 60px;
  width: 220px;
  height: 40px;
  border-radius: 20px;
  border: 0.5px solid #fff;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.main {
  margin-top: 100px;
  margin-left: 20px;
  font-weight: 100;
}
.main-txt {
  font-weight: 100;
}

/* .Features{
  color: rgb(159, 165, 169);
  margin-bottom: 5px;
} */

.hero1-img {
  margin-left: 20px;
  height: 815px;
  width: 1225px;
  margin-bottom: 70px;
}

.hero2 {
  margin-left: 20px;
}
.hero2-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--Prime_col);
}

.hero2-cards {
  display: flex;
  justify-content: space-evenly;
  padding-right: 5px;
}

.hero2-card {
  border-radius: 8px;
  background-color: #1b1813;

  height: 100px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero3 {
  background-color: var(--Sec_col);
  border: 1px solid none;
  border-radius: 5px;
  margin-top: 100px;
  margin-left: 40px;
  height: 815px;
  width: 1200px;
  padding: 0 20px 0 20px;
  display: flex;
  gap: 40px;
  line-height: 25px;
}
.hero3-txt {
  background-color: var(--Sec_col);
  width: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero3-img {
  background-color: var(--Sec_col);
  margin-top: 40px;
}

img {
  border-radius: 5px;
}
.hero3-txt-2,
.hero8-txt {
  background-color: var(--Sec_col);
  color: #82817d;
}

.hero3-txt-1,
.hero3-txt-1 h3,
.backColSec,
p {
  background-color: var(--Sec_col);
}

.hero3-txt-3 {
  margin-top: 10px;
  color: #f54e00;
  background-color: var(--Sec_col);
  font-size: 16px;
}

/* Style Remaining  */

.cards {
  display: grid;
  margin: 50px 0 0 20px;
  border-radius: 8px;
  grid-template-rows: 225px 225px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.hero6-card {
  background-color: var(--Sec_col) !important;
  border-radius: 8px;
  margin-bottom: 30px;
}

.hero6-txt {
  margin-top: 90px;
}

.card-content-foot img {
  margin: 90px 0 10px 15px;
  height: 40px;
  display: flex;
  justify-content: center;
}
.card-content-foot {
  background-color: var(--Sec_col) !important;
  display: flex;
  gap: 10px;
  align-items: self-end;
  margin-bottom: 10px;
}

/* Hero 7 start  */

.hero7 {
  margin: 200px 0 0 20px;
}

.hero7-cards {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.hero7-card {
  background-color: var(--Sec_col);
  padding: 10px 0 0 10px;
  border: 1px solid #1b1813;
  border-radius: 8px;
  line-height: 25px;
}

.hero7-img {
  padding-top: 10px;
  background-color: var(--Sec_col);
}

.hero8 {
  padding-top: 130px;
}

.hero8-cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.hero8-card {
  border-radius: 8px;
  background-color: var(--Sec_col);
  height: 150px;
  width: 317px;
  line-height: 30px;
  padding: 15px 20px 20px 10px;
}

.hero8-txt-red {
  margin-top: 20px;
  color: #f54e00;
}

.hero9 {
  display: flex;
  padding: 70px 0 0 20px;
}
.hero9-title {
  font-size: 16px;
  width: 325px;
  top : 0;
}

.hero9-cards {
  background-color: var(--Sec_col);
  gap: 10px;
}
.hero9-card {
  border: 1px solid #201f19;
  border-radius: 8px;
  background-color: #201f19 !important ;
  line-height: 20px;
  padding: 10px 30px 10px 10px;
  margin-bottom: 10px;
}
.hero9-txt0 {
  background-color: #201f19;
}
.hero9-txt {
  background-color: #201f19;
  color: #82817d;
}

.hero9-txt-red {
  background-color: var(--Sec_col);
  margin-top: 20px;
  color: #f54e00;
  padding-bottom: 90px;
}

.try {
  padding: 134px 20px 134px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.try-txt {
  font-size: 72px;
}

.footer{
  padding : 67px 20px 30px 20px;
  background-color: var(--Sec_col);
  display: flex;
  justify-content: space-evenly;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}   

.footDiv {
  display: flex ;
  flex-direction: column;
  
}
.div-btn{
  border: 1px solid #26251f ;
  background-color: #26251f;
  border-radius: 12px;
  height: 25px;
}
.foot-txt{
  color: #999894;
}
.foot-btn1 {
  border: 1px solid #26251f ;
  background-color: #26251f;
  width:30px;
}
.last{
  display: flex;
  gap: 20px;
  justify-content:flex-end
}

.lang{
  border: 1px solid #26251f ;
  border-radius: 12px;
  color: #fff;
  background-color: #26251f;
  width:100px;
  height: 25px;
  
}

.foot1{
  justify-content: space-between;
  padding : 67px 20px 30px 20px;
}
















