:root {
  --prime-colo: #18e299;
  --sec-colo: #90ecc5;
  --wood-smokw-black: #08090b;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 150;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  }

.bg-image-hero {
  z-index: -1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 100;

  width: 1200px;
  padding: 12px 40px;

 
  background: transparent;


  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-image: url("https://www.mintlify.com/hero/bg-light.svg");
}


.logo {
  color: #fff;
}

.menu ul {
  display: flex;
  gap: 30px;
  list-style: none;
  color: #fff;
}

.nav-btn   {
  display: flex;
  padding-right: 20px;
 
}

.contact-btn , .start{
    border-radius: 20px;
    height: 35px;
    width: 120px;
}
.start{
  color:#fff;
  background-color: #000;
  border-color: #000;
}
.contact-btn{
    color: #fff;
   
    border: 1px solid lab(100%,0,  0/ 00.5px);
    background-color: lab(100%,0,0);
}

.hero1 {
  min-height: 934px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
  background-image: url("https://www.mintlify.com/hero/bg-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
}


.hero1 img {
  border-radius: 20px;
}

.new-btn button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #094868;
    background-color: #094868;
    height: 35px;

    gap:10px;
    color : #fff;
}
.new-btn button p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 50px;
    border-radius: 20px;
    background-color: green;
}

.headline{
    color: #fff;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description{
    color: #fff;
    gap:10px;
    font-weight: 100px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mail-start {
    border-radius: 20px;
    border: 2px solid #86bbb4;
    background-color: #68ada7;
    color: #86bbb4;

}

.mail{
    margin: 30px 0 70px 0;
    border: 1px solid none;
    height: 35px;
    color: #b5d8d5;
    border: 1px solid none; 
    background-color: #68ada7;
    border-radius: 20px;
    padding: 0 10px 0 10px ;
    display: flex;
   
    justify-content: center;
    align-items: center;

}
.mail-x{
    
    color: #b5d8d5;
    border: 1px solid #68ada7; 
    background-color: #68ada7;
    border-radius: 20px;
    outline-style: none;

}

.start-btn{
    height: 30px;
    width: 80px;
    border-radius: 20px;
    border: 1px solid #68ada7; 
    background-color: #fff;
}

.trusted-by{
  padding: 80px 120px 0 120px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
   
    gap:10x;

}

.logos{
     display: flex;
     justify-content: center;
     align-items: center;
    height: 64px;
    width: 250px;
}
.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-txt1{
    font-size: 30px;
    padding: 40px 0 0 0;
}

.feature-cards {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
}
.cardtxt2{
    line-height: 25px;
}

.feature-card{
    border: 1px solid #f6f7f6;
    border-radius: 20px;
    padding: 24px 24px 24px 24px;
    margin-bottom: 24px;
}

.card-txt{
  color: #0a8d5e;
  font-weight: 400;
  font-size: small;

}

.card-h2 h2{
  font-weight:400;
}


.UIPreiview-txt1{
  font-size: 40px;
  padding: 40px 0 0 0;
}

.UIPreiview-cards {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  border: 1px solid #f6f7f6;
  border-radius: 20px;
  padding: 24px 24px 24px 24px;
  margin: 0 180px 140px 180px;
}
.UIPreiview-cardtxt2{
  line-height: 25px;
}

.enterprise{
  background-color: #f9f8f9;
}
.enterprise-card{
  padding: 80px 80px 20px 120px;
}
.enterprise-txt-btn{
  display: flex;
  justify-content: space-between;
}
.enterprise-btn{
  width: 180px;
}
.partnership-control{
  margin-top: 40px;
  display: flex;
  /* justify-content: space-around; */
  gap: 60px;

}

.customer{
  padding-top: 70px;
  background-color: #f9f8f9;
  
  
}
.customer .img{
  background-color: #f9f8f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer .img img{
  background-color: #f9f8f9;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid none ;
  border-radius: 12px;
}

.customers-txt{
  margin:48px 32px 48px 32px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer-card{
  padding-left: 350px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img{
  border: 1px solid none;
  border-radius: 12px;
}
.c-txt1{
  font-size: 20px;
  font-weight: 50;
}

.c-txt1{
  font-size: 20px;
  
}

.c-txt2{
  line-height: 20px;
  padding: 10px 0 10px 0;
}
.slide-btn{
  margin: 40px 0 100px 0 ;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

}

.demo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.d-txt1{
  font-size: 30px;

  line-height: 10px;
  
}
.start-demo-btn{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.start1{
  border: 1px solid #000;
  height: 40px;
  border-radius: 24px;
  color:#fff;
  background-color: #000;
    width: 150px;
}

.demo-btn{
  border: 1px solid #f6f7f6;
  height: 40px;
  border-radius: 24px;
  color:#000;
  background-color: #fff;
  width: 130px;
}

.pricing-quick{
  margin: 80px 0 100px 0;
  display: flex;
  justify-content: center;
  gap: 20px;

}
.ver-line{
  width: 1px;
  height: 250px;
  /* color: #f6f7f6; */
  color: #000;
  background-color:#000 ;
}

.hor-line{
  width: 100%;
  height: 2px;
  color: #f6f7f6;
  background-color:#f6f7f6 ;
}
.pricing{
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.vl{
  gap: 200px;
  display: flex;
  margin-left: 10%;
  /* flex-direction: column; */
  justify-content:center;
  /* align-items:center; */
  width: 1px;
  height: 250px;
  /* color: #f6f7f6; */
  color: #000;
  background-color:#000 ;
}

footer {
  height: 728px;
  background-color: #08090a08;
  border-top: 1px solid #08090a08;
}

.footer-container {
  height: 727px;
  max-width: 1022px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #08090a08;
  overflow: hidden;
}

.footer-container-f {
  padding-bottom: calc(var(--spacing) * 6);
  padding-top: calc(var(--spacing) * 16);
  padding-inline: calc(var(--spacing) * 8);
  border: 1px solid #08090a0d;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  position: relative;
  width: 1020px;
  height: 113px;
}

.footer-container-f-company {
  display: flex;
  justify-content: center;
  gap: calc(var(--spacing) * 4);
  margin-left: 775px;
  width: 97px;
  height: 20px;
}

.footer-container-s {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  overflow: hidden;

  width: 1020px;
  height: 346.5px;
  padding: 48px 32px 72px;
}

.footer-container-card {
  width: 191.19px;
  height: 226.5px;
}

.footer-container-card h3 {
  text-transform: uppercase;
  color: #08090a80;
  --tw-tracking: 0.65px;
  letter-spacing: 0.65px;
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  font-size: 13px;
  line-height: 150%;
  font-size: 13px;
  padding-block: calc(var(--spacing) * 1.5);
  padding-inline: calc(var(--spacing) * 3);
  margin-bottom: calc(var(--spacing) * 1);
  text-wrap: balance;
  width: 191.19px;
  height: 31.5px;
}

.footer-container-card a {
  text-decoration: none;
  color: #08090a;
  white-space: nowrap;
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-sm);
  line-height: 150%;
  padding-block: calc(var(--spacing) * 1.5);
  padding-inline: calc(var(--spacing) * 3);
  background-color: transparent;
  border: 1px solid transparent;
  gap: calc(var(--spacing) * 1.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: fit-content;
}

.footer-container-card a:hover {
  background-color: #08090a08;
  border-radius: 3.40282e38px;
}

.footer-container-card ul {
  list-style: none;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 191.19px;
  height: auto;
}

.footer-container-card li {
  height: 35px;
  width: auto;
}

.footer-container-t {
  width: 1020px;
  height: 109px;
  padding: 24px 32px;
  border: 1px solid #08090a08;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--spacing) * 6);
}

.footer-container-t-logo {
  height: 70px;
  margin-left: -1.6rem;
}

.footer-container-t p {
  color: #08090a;
  text-transform: capitalize;
  text-align: center;
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-sm);
  line-height: 150%;
}

.footer-container-t-main {
  size: 60px;
  display: grid;
  isolation: isolate;
  position: relative;
  --tw-scale-x: 125%;
  --tw-scale-y: 125%;
  --tw-scale-z: 125%;
  scale: var(--tw-scale-x) var(--tw-scale-y);
  place-items: center;
  width: 60px;
  height: 60px;
}

.footer-container-fr {
  width: 1020px;
  height: 158.5px;
  padding: 32px 32px 96px;
  position: relative;
  border-top: 1px solid #08090a0d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.footer-container-fr-1 {
  flex: 1;
  width: 318.6px;
  height: 29.5px;
}

.footer-container-fr-1 svg {
  height: 12px;
  width: 12px;
  color: #0c8c5e !important;
}

.footer-container-fr-1 a {
  text-decoration: none;
  outline-offset: 2px;
  color: #08090a;
  white-space: nowrap;
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  font-size: 13px;
  line-height: 150%;
  padding-block: calc(var(--spacing) * 1);
  padding-inline: calc(var(--spacing) * 3);
  background-color: #08090a08;
  border-radius: 3.40282e38px;
  gap: calc(var(--spacing) * 1.5);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  width: 161.73px;
  height: 29.5px;
}

.footer-container-fr-2 {
  width: 318.67px;
  height: 19.5px;
  flex: 1;
  text-align: center;
  color: #08090a99;
  font-size: 13px;
  line-height: 150%;
}

.footer-container-fr-3 {
  width: 318.67px;
  height: 28px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.footer-container-right {
  width: 76px;
  height: 28px;
  position: relative;
  background-color: #08090a08;
  border-radius: 3.40282e38px;
  display: flex;
  align-items: center;
  isolation: isolate;
}

.footer-container-right button {
  outline-offset: 2px;
  color: #08090a;
  white-space: nowrap;
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  font-size: 15px;
  padding: calc(var(--spacing) * 0);
  background-color: transparent;
  border-radius: 3.40282e38px;
  gap: calc(var(--spacing) * 1.5);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24ox;
  z-index: 10;
}

.footer-container-right svg {
  width: 12px;
  height: 12px;
}