:root {
  --prime-colo: #18e299;
  --sec-colo: #90ecc5;
  --wood-smokw-black: #08090b;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 150;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  }

.bg-image-hero {
  z-index: -1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 1260px;
  /* background-image: url("https://www.mintlify.com/hero/bg-light.svg"); */
  padding: 0px 0px 10px 10px;
  
  

}

.logo {
  color: #fff;
}

.menu ul {
  display: flex;
  gap: 30px;
  list-style: none;
  color: #fff;
}

.nav-btn   {
  display: flex;
  padding-right: 20px;
 
}

.contact-btn , .start{
    border-radius: 20px;
    height: 35px;
    width: 120px;
}
.start{
  color:#fff;
  background-color: #000;
  border-color: #000;
}
.contact-btn{
    color: #fff;
   
    border: 1px solid lab(100%,0,  0/ 00.5px);
    background-color: lab(100%,0,0);
}

.hero1 {
  min-height: 934px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
  background-image: url("https://www.mintlify.com/hero/bg-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
}


.hero1 img {
  border-radius: 20px;
}

.new-btn button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #094868;
    background-color: #094868;
    height: 35px;

    gap:10px;
    color : #fff;
}
.new-btn button p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 50px;
    border-radius: 20px;
    background-color: green;
}

.headline{
    color: #fff;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description{
    color: #fff;
    gap:10px;
    font-weight: 100px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mail-start {
    border-radius: 20px;
    border: 2px solid #86bbb4;
    background-color: #68ada7;
    color: #86bbb4;

}

.mail{
    margin: 30px 0 70px 0;
    border: 1px solid none;
    height: 35px;
    color: #b5d8d5;
    border: 1px solid none; 
    background-color: #68ada7;
    border-radius: 20px;
    padding: 0 10px 0 10px ;
    display: flex;
   
    justify-content: center;
    align-items: center;

}
.mail-x{
    
    color: #b5d8d5;
    border: 1px solid #68ada7; 
    background-color: #68ada7;
    border-radius: 20px;
    outline-style: none;

}

.start-btn{
    height: 30px;
    width: 80px;
    border-radius: 20px;
    border: 1px solid #68ada7; 
    background-color: #fff;
}

.trusted-by{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
   
    gap:10px;

}

.logos{
     display: flex;
     justify-content: center;
     align-items: center;
    height: 64px;
    width: 250px;
}
.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-txt1{
    font-size: 30px;
    padding: 40px 0 0 0;
}

.feature-cards {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
}
.cardtxt2{
    line-height: 25px;
}

.feature-card{
    border: 1px solid #f6f7f6;
    border-radius: 20px;
    padding: 24px 24px 24px 24px;
    margin-bottom: 24px;
}

.card-txt{
  color: #0a8d5e;
  font-weight: 400;
  font-size: small;

}

.card-h2 h2{
  font-weight:400;
}
.UIPreiview{

}

.UIPreiview-txt1{
  font-size: 40px;
  padding: 40px 0 0 0;
}

.UIPreiview-cards {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  border: 1px solid #f6f7f6;
  border-radius: 20px;
  padding: 24px 24px 24px 24px;
  margin: 0 180px 140px 180px;
}
.UIPreiview-cardtxt2{
  line-height: 25px;
}

.enterprise{
  background-color: #f9f8f9;
}
.enterprise-card{
  padding: 80px 80px 20px 120px;
}
.enterprise-txt-btn{
  display: flex;
  justify-content: space-between;
}
.enterprise-btn{
  width: 180px;
}
.partnership-control{
  margin-top: 40px;
  display: flex;
  /* justify-content: space-around; */
  gap: 60px;

}