:root {
  --prime-colo: #18e299;
  --sec-colo: #90ecc5;
  --wood-smokw-black: #08090b;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 150;
  overflow-x: hidden;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  backdrop-filter: blur(16px);
}

.nav {
  max-width: 1050px;
  margin: 0 auto;
  padding: 16px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 105px;
  align-items: center;
  justify-content: space-between;
}

.menu {
  min-width: 480px;
  height: 32px;
}

.menu ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

.menu li {
  height: 32px;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}

.h-center-menu {
  text-align: center;
  text-decoration: none;
  color: #fff;
  height: 32px;
  padding: 4px 12px;
  text-decoration: none;
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer;
}

.btn {
  width: 272.08px;
  height: 33.5px;

  display: flexbox;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.btn-container {
  width: 250px;
  height: 35px;
  display: flex;
  gap: 0.5rem;
}

.btn-container a {
  text-decoration: none;
  height: 35x;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 1.5);
  padding: 4.5px 12px;
  border-radius: 3.40282e38px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}

.btn-btn-contact {
  width: 123px;
  background-color: lab(100% 0 0 / 0.05);
  border: 1px solid lab(100% 0 0 / 0.05);
  color: #fff;
}

.btn-btn-sec {
  width: 118px;
  background-color: #08090a;
  border: 1px solid #08090a;
  color: #fff;
}

nav.scrolled {
  background-color: transparent;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

nav.scrolled .header-center-main {
  color: #08090a;
}

nav.scrolled .btn-btn-ghost {
  color: #08090a;
  background-color: rgba(8, 9, 10, 0.05);
}

nav.scrolled .btn-btn-sec {
  background-color: #08090a;
  color: #fff;
  border: none;
}

.nav-logo-wrap {
  position: relative;
  display: inline-block;
}

.nav-logo-wrap .nav-logo-default {
  display: block;
}

.nav-logo-wrap .nav-logo-scrolled {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
}

nav.scrolled .nav-logo-wrap .nav-logo-default {
  opacity: 0;
  pointer-events: none;
}

.nav.scrolled .nav-logo-wrap .nav-logo-scrolled {
  position: absolute;
  opacity: 1;
  pointer-events: auto;
}

.bg-image-hero {
  z-index: -1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10rem;
}

.hero1 {
  min-height: 935px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  background-image: url("https://www.mintlify.com/hero/bg-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero1 img {
  border-radius: 20px;
}

.new-btn button {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #094868;
  background-color: #094868;
  height: 35px;

  gap: 10px;
  color: #fff;
}
.new-btn button p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 50px;
  border-radius: 20px;
  background-color: green;
}

.headline {
  color: #fff;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description {
  color: #fff;
  gap: 10px;
  font-weight: 100px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mail-start {
  border-radius: 20px;
  border: 2px solid #86bbb4;
  background-color: #68ada7;
  color: #86bbb4;
}

.mail {
  margin: 30px 0 70px 0;
  border: 1px solid none;
  height: 35px;
  color: #b5d8d5;
  border: 1px solid none;
  background-color: #68ada7;
  border-radius: 20px;
  padding: 0 10px 0 10px;
  display: flex;

  justify-content: center;
  align-items: center;
}
.mail-x {
  color: #b5d8d5;
  border: 1px solid #68ada7;
  background-color: #68ada7;
  border-radius: 20px;
  outline-style: none;
}

.start-btn {
  height: 30px;
  width: 80px;
  border-radius: 20px;
  border: 1px solid #68ada7;
  background-color: #fff;
}

.trusted-by {
  padding: 80px 120px 0 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 10x;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 250px;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-txt1 {
  font-size: 30px;
  padding: 40px 0 0 0;
}

.feature-cards {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.cardtxt2 {
  line-height: 25px;
}

.feature-card {
  border: 1px solid #f6f7f6;
  border-radius: 20px;
  padding: 24px 24px 24px 24px;
  margin-bottom: 24px;
}

.card-txt {
  color: #0a8d5e;
  font-weight: 400;
  font-size: small;
}

.card-h2 h2 {
  font-weight: 400;
}

.UIPreiview-txt1 {
  font-size: 40px;
  padding: 40px 0 0 0;
}

.UIPreiview-cards {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid #f6f7f6;
  border-radius: 20px;
  padding: 24px 24px 24px 24px;
  margin: 0 180px 140px 180px;
}
.UIPreiview-cardtxt2 {
  line-height: 25px;
}
.explore-btn{
  
  height: 30px;
  width: 170px;
  background-color: #08090a;
  border: 1px solid #08090a;
  border-radius: 12px;
  color: #fff;
}
.enterprise {
  background-color: #f9f8f9;
}
.enterprise-card {
  padding: 80px 80px 20px 120px;
}
.enterprise-txt-btn {
  display: flex;
  justify-content: space-between;
}
.enterprise-btn {
  width: 180px;
}
.partnership-control {
  margin-top: 40px;
  display: flex;
  /* justify-content: space-around; */
  gap: 60px;
}

.customer {
  padding-top: 70px;
  background-color: #f9f8f9;
}
.customer .img {
  background-color: #f9f8f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer .img img {
  background-color: #f9f8f9;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid none;
  border-radius: 12px;
}

.customers-txt {
  margin: 48px 32px 48px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer-card {
  padding-left: 350px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  border: 1px solid none;
  border-radius: 12px;
}
.c-txt1 {
  font-size: 20px;
  font-weight: 50;
}

.c-txt1 {
  font-size: 20px;
}

.c-txt2 {
  line-height: 20px;
  padding: 10px 0 10px 0;
}
.slide-btn {
  margin: 40px 0 100px 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.d-txt1 {
  font-size: 30px;

  line-height: 10px;
}
.start-demo-btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.start1 {
  border: 1px solid #000;
  height: 40px;
  border-radius: 24px;
  color: #fff;
  background-color: #000;
  width: 150px;
}

.demo-btn {
  border: 1px solid #f6f7f6;
  height: 40px;
  border-radius: 24px;
  color: #000;
  background-color: #fff;
  width: 130px;
}

.pricing-quick {
  margin: 80px 0 100px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.ver-line {
  width: 1px;
  height: 250px;
  /* color: #f6f7f6; */
  color: #f6f7f6;
  background-color: #f6f7f6;
}

.hor-line {
  width: 100%;
  height: 2px;
  color: #f6f7f6;
  background-color: #f6f7f6;
}
.pricing {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vl {
  gap: 200px;
  display: flex;
  margin-left: 10%;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items:center; */
  width: 1px;
  height: 250px;
  /* color: #f6f7f6; */
  color: #000;
  background-color: #000;
}

footer {
  height: 728px;
  background-color: #08090a08;
  border-top: 1px solid #08090a08;
}

.footer-container {
  height: 727px;
  max-width: 1022px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #08090a08;
  overflow: hidden;
}

.footer-container-f {
  padding-bottom: calc(var(--spacing) * 6);
  padding-top: calc(var(--spacing) * 16);
  padding-inline: calc(var(--spacing) * 8);
  border: 1px solid #08090a0d;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  position: relative;
  width: 1020px;
  height: 113px;
}

.footer-container-f-company {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 775px;
  width: 97px;
  height: 20px;
}

.footer-container-s {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  overflow: hidden;

  width: 1020px;
  height: 346.5px;
  padding: 48px 32px 72px;
}

.footer-container-card {
  width: 191.19px;
  height: 226.5px;
}

.footer-container-card h3 {
  text-transform: uppercase;
  color: #08090a80;
  --tw-tracking: 0.65px;
  letter-spacing: 0.65px;
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  font-size: 13px;
  line-height: 150%;
  font-size: 13px;
  padding-block: calc(var(--spacing) * 1.5);
  padding-inline: calc(var(--spacing) * 3);
  margin-bottom: calc(var(--spacing) * 1);
  text-wrap: balance;
  width: 191.19px;
  height: 31.5px;
}

.footer-container-card a {
  text-decoration: none;
  color: #08090a;
  white-space: nowrap;
  line-height: 150%;
  background-color: transparent;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: fit-content;
}

.footer-container-card a:hover {
  background-color: #08090a08;
  border-radius: 3px;
}

.footer-container-card ul {
  list-style: none;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 191.19px;
  height: auto;
}

.footer-container-card li {
  height: 35px;
  width: auto;
}

.footer-container-t {
  width: 1020px;
  height: 109px;
  padding: 24px 32px;
  border: 1px solid #08090a08;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--spacing) * 6);
}

.footer-container-t-logo {
  height: 70px;
  margin-left: -1.6rem;
}

.footer-container-t p {
  color: #08090a;
  text-transform: capitalize;
  text-align: center;
  line-height: 150%;
}

.footer-container-t-main {
  size: 60px;
  display: grid;
  isolation: isolate;
  position: relative;
  place-items: center;
  width: 60px;
  height: 60px;
}

.footer-container-fr {
  width: 1020px;
  height: 158.5px;
  padding: 32px 32px 96px;
  position: relative;
  border-top: 1px solid #08090a0d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.footer-container-fr-1 {
  flex: 1;
  width: 318.6px;
  height: 29.5px;
}

.footer-container-fr-1 svg {
  height: 12px;
  width: 12px;
  color: #0c8c5e !important;
}

.footer-container-fr-1 a {
  text-decoration: none;
  outline-offset: 2px;
  color: #08090a;
  white-space: nowrap;
  font-size: 13px;
  line-height: 150%;
  background-color: #08090a08;
  border-radius: 3.40282e38px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  width: 161.73px;
  height: 29.5px;
}

.footer-container-fr-2 {
  width: 318.67px;
  height: 19.5px;
  flex: 1;
  text-align: center;
  color: #08090a99;
  font-size: 13px;
  line-height: 150%;
}

.footer-container-fr-3 {
  width: 318.67px;
  height: 28px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.footer-container-right {
  width: 76px;
  height: 28px;
  position: relative;
  background-color: #08090a08;
  border-radius: 3.40282e38px;
  display: flex;
  align-items: center;
  isolation: isolate;
}

.footer-container-right button {
  outline-offset: 2px;
  color: #08090a;
  white-space: nowrap;
  font-size: 15px;
  padding: calc(var(--spacing) * 0);
  background-color: transparent;
  border-radius: 3.40282e38px;  
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24ox;
  z-index: 10;
}

.footer-container-right svg {
  width: 12px;
  height: 12px;
}
